kfp==2.1.3
google-cloud-aiplatform==1.33.1
google-cloud-pipeline-components==2.3.1

-r ./src/components/ingestor/requirements.txt
-r ./src/components/preprocess/requirements.txt
-r ./src/components/model/requirements.txt
-r ./src/components/postprocess/requirements.txt

-e ./src/components/ingestor
-e ./src/components/preprocess
-e ./src/components/model
-e ./src/components/postprocess
